body,
html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.section {
    min-height: 100vh;
    position: relative;
    text-align: center;
    font-family: sans-serif, arial;
    margin: 0;
}

h1,
p {
    margin: 0;
    font-family: sans-serif, arial;
    font-weight: bold;
}


/* .text-wr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

#section3 {
    background: #5c53aa;
    color: #8d86c3;
}

#section2 {
    background: #4bbfc3;
    color: #81d2d5;
}

#section1 {
    background: #000;
    color: #686e7c;
}

#contact {
    background: green;
    color: #aeb9b9;
}

h1 {
    font-size: 50px;
    margin-bottom: 25px;
}


/* .title-top {
    font-size: 60px;
    padding-bottom: 30px;
}

.title-bottom {
    font-size: 30px;
}

.title-tx {
    font-size: 20px;
    opacity: 0.8;
} */

.nav-bar {
    position: fixed;
    top: 20px;
    right: 0;
    height: 100vh;
    z-index: 5;
    display: block;
}

.nav-bar ul {
    display: flex;
    writing-mode: vertical-lr;
    position: absolute;
    right: 70px;
    top: 70px;
}

.nav-bar ul li {
    margin-bottom: 45px;
    list-style: none;
}

.nav-bar ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}


/* .nav-bar a.active {
    border-left: 2px solid white;
    color: white;
} */

.global-intro {
    position: absolute;
    right: 70px;
    bottom: 70px;
    z-index: 900;
    height: auto;
    max-height: 33px;
    color: #fff;
}

.global-intro__top {
    font-size: 12px;
    text-transform: uppercase;
}

.global-intro__bottom {
    font-size: 23px;
    font-weight: 900;
    text-transform: uppercase;
}


/* .nav-bar>nav>ul>li>a.active:before {
    content: "";
    position: absolute;
    left: -25px;
    width: 15px;
    border-top: 1px solid #1e87f0;
} */

.nav-bar>nav>ul>li>a.active:before {
    content: "";
    position: absolute;
    margin-top: 25px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 80%;
    background: #fff;
    display: inline-block;
}

.nav-bar>nav>ul>li>a.active {
    font-weight: 900;
}